/* put your custom CSS here */

.inverted {
  color: #191919;
}

.glowing {
  text-shadow: 0 0 3px #ff6600, 0 0 5px #ffff66;
}
table.help {
  border: 1px solid #ccc;
  width:100%;
  text-align: center;
  margin-top: 20px;
}

table.help > th, td{
	border: 1px solid #ccc;
}

.subtitle {
	color: #000;
	font-weight: 600;
}
.author {
	color: #000;
	font-weight: 600;
}
.date {
	color: #000;
	font-weight: 600;
}